.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 대용량 데이터는 추가 안한다
src/refiningData/data-directory/
src/refiningData/result-directory/
src/refiningData/yearWeightHashDirectory/